// За замовчуванням шрифт
$fontFamily: 'Open Sans';
$fontSize: rem(16); // де 14(px) - розмір шрифту за замовчуванням з макету

// Основні кольори
$mainColor: #5c5c5c; // Колір шрифту за замовчуванням
$accentColor: #9f0013;
$secondColor: #c10218;
$darkColor: #232222;
// Налаштування адаптивної сітки

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1230;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;

// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поїнти
$pc: em(
  $containerWidth
); // ПК, ноутбуки, деякі планшети у горизонтальному положенні
$tablet: em(991.98); // Планшети, деякі телефони в горизонтальному положенні
$mobile: em(767.98); // Телефони L
$mobileSmall: em(479.98); // Телефони S

// Тип адаптива:
// 1 = чуйність (у контейнера немає брейкпоінтів),
// 2 = по брейк-поїнт (контейнер змінює свою ширину по брейк-поїнт)
$responsiveType: 1;

// sass-lint:disable max-line-length
$icons: (
  logout: (
    sizeY: '24',
    sizeX: '24',
    path:
      'M18 4V0H2V24H18V20H16V22H4V2H16V4H18Z M16.5859 6.58594L15.1719 8L18.1719 11H10V13H18.1719L15.1719 16L16.5859 17.4141L22 12L16.5859 6.58594Z',
  ),
  loading: (
    sizeY: '34',
    sizeX: '34',
    path:
      'M34.0303 16.0177C33.7292 9.87213 30.0149 4.12959 24.4937 1.51018C18.4706 -1.20997 11.1424 -0.10176 6.12317 4.12959C1.30467 8.15945 -0.903808 14.708 0.501588 20.8535C1.8066 26.8983 6.52471 31.8348 12.4475 33.4468C19.5748 35.4617 26.0999 32.0363 30.1153 26.1931C26.5014 31.0289 20.9802 34.2528 14.8567 33.1446C8.73319 32.0363 3.71392 27.402 2.30853 21.3572C0.802744 14.9095 3.81431 8.15944 9.53628 4.83481C15.459 1.40944 23.791 2.71914 27.706 8.56243C28.7099 9.97288 29.4126 11.6856 29.7137 13.3983C30.0149 14.8087 29.9145 16.3199 30.1153 17.7304C30.3161 19.0401 31.4203 20.7527 32.9261 19.846C34.2311 19.0401 34.1307 17.3274 34.0303 16.0177C34.1307 16.7229 34.0303 15.6147 34.0303 16.0177Z',
  )
);
