.alert {
  padding: rem(40) rem(0) rem(0) rem(0);
  &__container {
    display: flex;
    justify-content: center;
  }

  &__message {
    border: rem(1) solid black;
    border-radius: rem(10);
    padding: rem(10);
  }
}
